<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head') %>
  <title>About | Clean Blog</title>

</head>

<body>

    <!-- Navigation -->
    <%- include('partials/navbar') %>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header about-page" >
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>About</h1>
                        <hr class="small">
                        <span class="subheading">This is what we do.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
              <p>We try to generate (and disseminate) an intuitive understanding of the work we do, which has led to new algorithms and analysis methods, and we like to use the simplest method possible and understand it fully.<p>
            </div>
        </div>
    </div>

    <hr>

    <!-- Footer -->
    <%- include('partials/footer') %>

</body>

</html>
