<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
    <title>Clean Blog</title>
</head>

<body>

    <!-- Navigation -->
    <%- include('partials/navbar') %>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header home-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Human Learnable</h1>
                        <hr class="small">
                        <span class="subheading">Posts about learning machine learning</span>
                    </div>

                </div>
                <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                  <div class="us-image">
                    <img alt="Teammates all together" class="img-responsive" src="/img/collaboration-security.svg">
                  </div>
                </div>
            </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                    <a href="/posts/1">
                        <h2 class="post-title">
                            This is the post heading
                        </h2>
                        <h3 class="post-subtitle">
                            This is a subheading
                        </h3>
                    </a>
                    <p class="post-meta">Posted by <a href="#">rjm</a> on March 1, 2017</p>
                </div>
                <hr>
                <!-- Pager -->
                <!--<ul class="pager">
                    <li class="next">
                        <a href="#">Older Posts &rarr;</a>
                    </li>
                </ul>
              -->
            </div>
        </div>
    </div>

    <hr>

    <!-- Footer -->
    <%- include('partials/footer') %>

</body>

</html>
